
{% load cms_tags %}
{% load staticfiles i18n cms_tags sekizai_tags menu_tags %}

<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div class="page-header">
        
        <a href="/" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="/" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        
        <h1><a href="/">Django Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            
            </div>
        </div>
    </div>
</body>
</html>